body {
    font-family: "Unlock", serif;
    height: 100vh;
    background-color: #ffffff;
}

h1 {
    font-size: 40px;
    font-weight: 900; 
    font-style: normal;
    margin-bottom: 1px;
}

p{
    margin-top: 5px;
    font-style: italic;
    font-size: 18px;
}

.container {
    margin-top: 100px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.containterTextButton {
    padding: 35px;
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 25px;
    margin: auto;
    flex-wrap: wrap; /* Asegura la responsividad */
}

button {
    padding: 10px;
    font-family: "Unlock", serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 100px;
    width: 175px;
    display: flex;
    flex-direction: column; /* Organizaci칩n en columna */
    align-items: center;
    justify-content: center;
    gap: 5px; /* Espacio entre icono y texto */
    transition: all 0.8s ease; /* Transici칩n suave para hover */
}

button img {
    display: none; /* El icono est치 oculto por defecto */
}

button span {
    visibility: visible; /* El texto es visible por defecto */
}

button:hover, 
button:active {
    background-color: white; /* Cambia el fondo a blanco */
    color: black; /* Cambia el texto a negro */
    border: 5px solid black; /* A침ade un borde negro */
}

button:hover img,
button:active img {
    margin-top: 20px;
    display: inline-block; /* Muestra el icono en hover o clic */
    scale: 10%;
    font-display: none;
}

button:hover span,
button:active span {
    visibility: hidden; /* Oculta el texto en hover o clic */
}