/* Oculta el contenido con opacidad 0 inicialmente */
.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Mostrar el contenido con opacidad 1 */
.fade-in {
    opacity: 1;
}

body {
    font-family: "Unlock", serif;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
}

.container {
    margin-top: -350px;
    display: flex;
    flex-direction: column; /* Mantén los elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente dentro de .container */
    align-items: center; /* Centra el contenido horizontalmente dentro de .container */
    width: 100%;
    max-width: 400px; /* Ancho máximo para evitar que se vea demasiado ancho en pantallas grandes */
    padding: 20px;
    box-sizing: border-box;
}

.containterTextButton {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 150px;
    margin: -180 auto;
}

.btn_volverIcon:hover {
    cursor: pointer;    
    scale: 15%;
    transition: all 0.5s ease;
}

.btn_volverIcon{
    margin-top: -150px;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

h1 {
    margin-top: -320px;
    font-size: 40px;
    font-weight: 900; 
}

button {
    margin-top: -200px;
    font-family: "Unlock", serif;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    height: 65px;
    width: 100%;
    max-width: 200px; /* Limitar el ancho en pantallas grandes */
    transition: all 0.8s ease; /* Transición suave para hover */
}

button:hover {
    background-color: rgb(255, 255, 255); /* Cambia el fondo a blanco */
    color: black; /* Cambia el texto a negro */
    border: 5px solid black; /* Añade un borde negro */
}

.dado-container {
    margin-top: -130px;
    perspective: 20000px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes shake {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    50% { transform: rotateX(720deg) rotateY(720deg); }
    100% { transform: rotateX(0deg) rotateY(0deg); }
}

.dado.shaking {
    animation: shake 2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards; /* Duración de 3 segundos */
}

.dado {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s; /* Duración de la rotación final */
    margin: 0 auto; /* Centra el dado dentro del contenedor */
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 12px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

img{
    scale: 12%;
}

.front  { transform: translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }